.list {
  border: 1px solid #ccc;
}

.list_head,
.list_body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.list_head {
  color: red;
}
.list_body {
  flex-wrap: wrap;
}

.list_item {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex: 0 0 100%;
}

.list_item:hover {
  background-color: rgb(235, 234, 234);
}

.list_col {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 15px 5px;
  border: 1px solid #ccc;
}
