* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  background: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

button:disabled,
button:disabled:hover {
  background: rgb(96, 96, 233);
  cursor: default;
}

button:hover {
  background: rgb(76, 76, 211);
}

.remove_button {
  background: rgb(189, 25, 25);
}

.remove_button:hover {
  background: rgb(201, 78, 78);
}

/* Навигационное меню */

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
nav a {
  display: flex;
  flex-direction: row;
  color: blue;
  font-weight: 700;
}

nav a:hover {
  text-decoration: none;
}

/* Список */

.list {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.list_head,
.list_body {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.list_head {
  color: blue;
  font-weight: 600;
  text-transform: uppercase;
}
.list_body {
  flex-wrap: wrap;
}

.list_item {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex: 0 0 100%;
}

.list_item:hover {
  background-color: rgb(235, 234, 234);
  cursor: pointer;
}

.list_col {
  flex: 0 1 20%;
  max-width: 20%;
  padding: 15px 5px;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

/* Пагинация */

.pagination {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 10px 0;
}

.pagination_pages {
  display: flex;
  align-items: center;
}

.pagination_pages .page_number {
  cursor: pointer;
  margin: 0 2px;
}

.pagination_pages .page_number:hover {
  background-color: lightgrey;
}

.pagination_pages .page_number.active {
  color: blue;
  font-weight: 700;
  font-size: 20px;
}

/* Поиск */

.search {
  position: relative;
  width: 250px;
  margin: 10px 0;
}

.search_input {
  border: 2px solid #ccc;
}

.search_input input {
  padding: 5px 30px 5px 5px;
  width: 100%;
  border: none;
  outline: none;
}

.search_input.spinner:after {
  right: 5px;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
}

.search_list {
  position: absolute;
  top: calc(100% + 5px);
  padding: 10px 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  list-style: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.search_list .search_list__item {
  padding: 10px;
  cursor: pointer;
}

.search_list .search_list__item:hover {
  background: rgb(235, 234, 234);
}

.disable:hover {
  cursor: default;
  background: none;
}

/* Спиннер */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
}

.spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50vh;
  right: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}
